body{
    position: relative;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none !important;
    outline: none !important;
}

p{
    text-align: justify;
    margin: 0;
    line-height: 25px;
}

#header{
    padding: 15px 0;
    .navbar-collapse{
        padding: 15px 0 0;
        ul{
            width: 100%;
            display: table;
            float: inherit;
        }            
        li{
            display: table-cell;
            width: auto;
            float: inherit;
            text-align: center;
            padding: 0 15px;
        }            
        a{
            position: relative;
            display: inline-block;
            padding: 0 0 5px;
            background: inherit;
            color: $brand-primary;
            text-transform: uppercase;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;    
            &:before{
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $brand-primary;
                transform-origin: right top;
                transform: scale(0,1);
                transition: color .1s,transform .3s ease-out;                    
            }
        }
        a:hover, a:focus, a:active, li.active a{
            background-color: inherit;
            &:before{
                transform-origin: left top;
                transform: scale(1,1);
                background-color: $brand-primary;
            }
        }
        li:first-child{
            padding-left: 0;
        }
        li:last-child{
            padding-right: 0;
        }
        .caret{
            display: none;
        }            
        .open > .dropdown-menu{
            display: block;
        }            
        .dropdown-menu{
            display: none;
            width: auto;
            background-color: $brand-secondary;
            padding: 0;
            margin-top: 15px;     
            border-radius: 0;
            li{
                display: block;
                text-align: left;
                padding: 0 15px;
            }
            a{
                color: $brand-primary !important;
                font-weight: inherit;
                padding: 7px 0 !important;
                border-bottom: 1px solid rgba(255,255,255,0.7);
                font-weight: bold;
            }
            a:hover, a:focus, a:active, li.active a{
                color: $brand-secondary !important;
            } 
            li:last-child{
                a{
                    border-bottom: 0;
                }
            } 
        }            
    } 
    .social{
        padding-top: 8px;
        a{
            font-size: 1.5em;
            margin-left: 10px;
        }
    }
}

#whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 15px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 99;  
    a{
        color: #fff;
        i{
            font-size: 2em;
        }
    }
    &:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);        
    }
}

#header-section{
    position: relative;
    background-image: url('/wp-content/themes/fotograf/assets/images/header-portifolio.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    h1{
        margin: 0;
        color: #fff;
        font-weight: 300;
    }
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(122,82,62,0.7);
    }
}

.slick-dots{
  position: relative;
  text-align: center;
  z-index: 99;
  padding: 0;
  margin: 30px 0 0;
  li{
    list-style: none;
    display: inline-block;
    margin: 0 3px;
    button{
      display: block;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid $brand-primary;
      cursor: pointer;
      text-indent: -9999px;
      padding: 0;
      -webkit-transition: background 0.2s linear;
      -moz-transition: background 0.2s linear;
      -o-transition: background 0.2s linear;
      transition: background 0.2s linear;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;     
      &:hover{
        background-color: $brand-primary;
      }
    }
    &.slick-active button{
      background-color: $brand-primary;
      width: 15px;
      height: 15px;  
      line-height: 25px;
    }
  }
}

#home{
    .slide-home{
        .carousel-indicators{
            bottom: 0;
        }
        .carousel-indicators li{
            border: 2px solid #fff;
            width: 12px;
            height: 12px;
            margin-left: 3px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.active{
                background-color: $brand-primary;
                border: 2px solid $brand-primary;
                width: 15px;
                height: 15px;
            }
            &:first-child{
                margin-left: 0;
            }
        }      
    }
    
    .portifolio{
        padding: 30px 0;
        background-color: #f5f4f2;
        h2{
            margin: 0 0 5px;
            color: $brand-primary;
            font-weight: 300;
            letter-spacing: 3px;
        }
        span{
            display: block;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 1.3em;
        }
        .nopad{
            padding: 0;
        }
        .icone{
            position: relative;
            .text{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.9);
                display: grid;
                align-items: center;
                opacity: 0;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
                transition: .3s;                
                h3{
                    margin: 0 0 15px;
                    color: $brand-primary;
                    font-style: italic;
                }
                .btn-primary{
                    background-color: $brand-primary;
                    border-color: $brand-primary;
                    min-width: 120px;
                    border-radius: 0;
                }
            }
            &:hover{
                .text{
                    opacity: 1;
                }
            }
        }
        .carousel-indicators{
            position: relative;
            bottom: inherit;
            margin-bottom: 0;
            margin-top: 30px;
        }
        .carousel-indicators li{
            border: 1px solid $brand-primary;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.active{
                background-color: $brand-primary;
                border: 1px solid $brand-primary;
                width: 15px;
                height: 15px;
            }
        }      
    }
    
    .enchant{
        padding: 30px 0;
        h2{
            margin: 0 0 5px;
            color: $brand-primary;
            font-weight: 300;
            letter-spacing: 3px;
        }
        span{
            display: block;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 1.3em;
        }   
        .encanteCarousel{
          margin: 0 -15px;
        }
        .category{
            padding: 0 15px;
            h3{
                margin: 15px 0;
                color: $brand-primary;
                font-weight: 300;
                font-size: 1.4em;
            }
            .image{
                position: relative;
                .text{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255,255,255,0.8);
                    padding: 15px;
                    display: grid;
                    align-items: center;                    
                    opacity: 0;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;   
                    p{
                        font-weight: 300;
                    }
                    a{
                        display: block;
                        margin-top: 5px;
                        color: $brand-primary;
                    }
                }
            }
            &:hover{
                .image{
                    .text{
                        opacity: 1;
                    }
                }
            }
        }
        .carousel-indicators{
            position: relative;
            bottom: inherit;
            margin-bottom: 0;
            margin-top: 30px;
        }
        .carousel-indicators li{
            border: 1px solid $brand-primary;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.active{
                background-color: $brand-primary;
                border: 1px solid $brand-primary;
                width: 15px;
                height: 15px;
            }
        }      
    }
    
    .blog{
        padding: 0;
        h2{
            margin: 0 0 5px;
            color: $brand-primary;
            font-weight: 300;
            letter-spacing: 3px;
        }
        span{
            display: block;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 1.3em;
        }  
        .posts{
            position: relative;
            background-image: url('/wp-content/themes/fotograf/assets/images/bg-blog.jpg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;  
            padding: 30px 0;
            .bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(181,157,127,0.7);
            }
            .notice{
                overflow: hidden;
                border: 1px solid #fff;
                .infos{
                    padding: 10px;
                    background-color: rgba(255,255,255,0.7);
                    h3{
                        margin: 0 0 10px;
                        color: $brand-primary;
                        font-weight: bold;
                        font-size: 1.3em;
                        min-height: 61px;
                    }
                    p{
                        font-weight: 300;
                        min-height: 75px;
                    }
                    .link{
                        display: block;
                        margin-top: 10px;
                        color: $brand-primary;
                    }
                }
            }            
        }
    }
    
    .depositions{
        padding: 30px 0;       
        h2{
            margin: 0 0 30px;
            color: $brand-primary;
            font-weight: 300;
            letter-spacing: 3px;
        }
        .deposition{
            img{
                border-radius: 50%;
            }
            h3{
                margin: 15px 0 5px;
                color: $brand-primary;
            }
            p{
                text-align: center;
                min-height: 50px;
            }
        }
        .carousel-indicators{
            position: relative;
            bottom: inherit;
            margin-bottom: 0;
            margin-top: 15px;
        }
        .carousel-indicators li{
            border: 1px solid $brand-primary;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.active{
                background-color: $brand-primary;
                border: 1px solid $brand-primary;
                width: 15px;
                height: 15px;
            }
        }        
    }
    
    .about{
        background-color: #e3dacf;
        padding: 30px 0;
        h2{
            margin: 0 0 30px;
            color: $brand-primary;
            font-weight: 300;
            letter-spacing: 3px;
        }    
        p{
            margin-top: 60px;
        }
        a{
            display: block;
            color: $brand-primary;
            margin-top: 15px;
            font-weight: bold;
        }
    }
    
    .contact{
        padding: 30px 0;
        h2{
            margin: 0 0 5px;
            color: $brand-primary;
            font-weight: 300;
            letter-spacing: 3px;
        }
        .call{
            display: block;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 1.3em;
        }   
        .form-control{
            border: 1px solid $brand-secondary;
            border-radius: 0;
        }
        .btn-primary{
            background-color: $brand-primary;
            border-color: $brand-primary;
            color: #fff;
            border-radius: 0;
            min-width: 120px;
        }
    }
}

#about{
    position: relative;
    padding: 30px 0;
    .bg{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 420px;
        background-color: #f5f4f2;
    }
    .team{
        h2{
            margin: 30px 0;
            font-weight: 300;
            color: $brand-primary;
            letter-spacing: 3px;
        }
        h3{
            margin: 15px 0;
            font-weight: bold;
            color: $brand-primary;
            font-size: 1.5em;
        }
        p{
            text-align: center;
        }
    }
}

#portifolio{
    padding: 30px 0 0;
    .item{
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0 5px #ccc;
        .text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.9);
            display: grid;
            align-items: center;
            opacity: 0;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;                
            h3{
                margin: 0 0 15px;
                color: $brand-primary;
                font-style: italic;
            }
            .btn-primary{
                background-color: $brand-primary;
                border-color: $brand-primary;
                min-width: 120px;
                border-radius: 0;
            }
        }
        &:hover{
            .text{
                opacity: 1;
            }
        }
    }    
}

#enchant{
    padding: 30px 0;
    .category{
        h3{
            margin: 15px 0;
            color: $brand-primary;
            font-weight: 300;
            font-size: 1.4em;
        }
        .image{
            position: relative;
            .text{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.8);
                padding: 15px;
                display: grid;
                align-items: center;                    
                opacity: 0;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
                transition: .3s;   
                p{
                    font-weight: 300;
                }
                a{
                    display: block;
                    margin-top: 5px;
                    color: $brand-primary;
                }
            }
        }
        &:hover{
            .image{
                .text{
                    opacity: 1;
                }
            }
        }
    }
}

#testemonials{
    .depositions{
        background-color: #f5f5f5;
        padding: 30px 0 0;
        h2{
            margin: 0 0 15px;
            color: $brand-primary;
            text-transform: uppercase;
            font-weight: bold;
        }
        h4{
            margin: 0 0 30px;
        }
        .depoisition{
            padding: 15px;
            background-color: #fff;
            margin-bottom: 30px;
            border-radius: 3px;
            box-shadow: 0 0 5px #ccc;
            h3{
                margin: 5px 0 5px;
                font-weight: 300;
                color: $brand-primary;
                display: inline-block;
            }
            img{
              box-shadow: 0 0 5px #ccc;
            }
            .stars{
                margin: 5px 0;
                display: inline-block;
                float: right;
                i{
                    color: #dedfe0;
                    &.yellow{
                        color: #f4c150;
                    }
                }
                .rating{
                    margin-left: 5px;
                    font-weight: bold;
                }
            }
        }
    }    
}

#blog{
    position: relative;
    padding: 30px 0 0;
    overflow: hidden;
    hr{
        margin: 0 0 30px;
    }
    .balloon{
        position: absolute;
        &.left{
            bottom: -420px;
            left: -1145px;
            opacity: 0.3;
        }
        &.right{
            top: -250px;
            right: -960px;
            opacity: 0.1;
        }
    } 
    .notice{
        margin-bottom: 30px;
        h3{
            margin: 15px 0;
            color: $brand-primary;
        }
        .btn-primary{
            min-width: 120px;
            background-color: $brand-primary;
            border-color: $brand-primary;
            color: #fff;
            border-radius: 0;
            margin-top: 15px;
        }
        .image{
            position: relative;
            border-radius: 5px;
            img{
                border-radius: 5px;
            }
            .link{
                position: absolute;
                display: grid;
                align-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.7);
                border-radius: 5px;
                opacity: 0;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
                transition: .3s; 
                i{
                    color: #fff;
                    font-size: 3em;
                }
            }
            &:hover{
                .link{
                    opacity: 1;
                }
            }
        }        
    }
}

#contact-page{
    position: relative;
    padding: 30px 0;
    overflow: hidden;
    h3{
        margin: 0 0 30px;
        text-transform: uppercase;
        color: $brand-secondary;
    }
    .form-control{
        border-color: $brand-secondary;
        border-radius: 0;
        min-height: 40px;
    }
    .balloon{
        position: absolute;
        &.left{
            bottom: -800px;
            left: -1145px;
            opacity: 0.3;
        }
        &.right{
            top: -250px;
            right: -960px;
            opacity: 0.1;
        }
    }    
    .phones{  
        padding-bottom: 20px;
        h4{
            margin: 0 0 10px 45px;
            text-transform: uppercase;
        }
        p{
            margin: 0 0 5px 45px;
        }
        .icon{
            position: absolute;
            color: $brand-primary;
        }          
    }
    .text{
        padding-bottom: 15px;
    }
    .nav-tabs{
        margin-bottom: 15px;
        a{
            font-weight: bold;
            color: $brand-primary;
        }
        li.active{
            a{
                color: $brand-primary;
            }
        }
    }
    .archive{
        min-height: 50px;
    }
    .btn-primary{
        font-weight: bold;
        min-width: 120px;
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: #fff;
        border-radius: 0;
        text-transform: uppercase;
        margin-top: -15px;
    }    
}

#text{
    padding: 30px 0 0;
    h2{
        margin: 0 0 15px;
        color: $brand-primary;
        font-weight: 300;
    }
    .image{
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: 0 0 5px #ccc;
        img{
            -webkit-transition: all .8s;
            -moz-transition: all .8s;
            -ms-transition: all .8s;
            -o-transition: all .8s;
            transition: all .8s;              
        }
        .bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            display: grid;
            align-items: center;   
            opacity: 0;
            i{
                color: #fff;
                font-size: 2em;
            }
        }
        &:hover{
            img{
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);                
            }
            .bg{
                opacity: 1;
            }
        }
    }
    &.nogallery{
        padding-bottom: 30px;
    }
}

#area{
    padding: 30px 0;
    h2{
      margin: 0;
      color: $brand-primary;
      font-weight: 300;
    }
    .form-control{
        border: 1px solid $brand-secondary;
        min-height: 40px;
        border-radius: 0;
    }
    .btn-primary{
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: #fff;
        border-radius: 0;
        min-width: 120px;
    }    
}

#footer{
    background-color: #ede8e1;
    border-top: 5px solid #b59d7f;
    padding-top: 15px;
    .navbar-collapse{
        padding: 15px 0 0;
        ul{
            width: 100%;
            display: table;
            float: inherit;
        }            
        li{
            display: table-cell;
            width: auto;
            float: inherit;
            text-align: center;
            padding: 0 15px;
        }            
        a{
            position: relative;
            display: inline-block;
            padding: 0 0 5px;
            background: inherit;
            color: $brand-primary;
            text-transform: uppercase;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;    
            &:before{
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $brand-primary;
                transform-origin: right top;
                transform: scale(0,1);
                transition: color .1s,transform .3s ease-out;                    
            }
        }
        a:hover, a:focus, a:active, li.active a{
            background-color: inherit;
            &:before{
                transform-origin: left top;
                transform: scale(1,1);
                background-color: $brand-primary;
            }
        }
        li:first-child{
            padding-left: 0;
        }
        li:last-child{
            padding-right: 0;
        }
        .caret{
            display: none;
        }            
        .open > .dropdown-menu{
            display: block;
        }            
        .dropdown-menu{
            display: none;
            width: auto;
            background-color: $brand-secondary;
            padding: 0;
            margin-top: 15px;     
            border-radius: 0;
            li{
                display: block;
                text-align: left;
                padding: 0 15px;
            }
            a{
                color: $brand-primary !important;
                font-weight: inherit;
                padding: 7px 0 !important;
                border-bottom: 1px solid rgba(255,255,255,0.7);
                font-weight: bold;
            }
            a:hover, a:focus, a:active, li.active a{
                color: $brand-secondary !important;
            } 
            li:last-child{
                a{
                    border-bottom: 0;
                }
            } 
        }            
    }
    .address{
        text-align: center;
        color: $brand-secondary;
        margin-top: 15px;
    }
    .social{
        padding-top: 15px;
        a{
            font-size: 1.5em;
            color: $brand-primary;
            margin-left: 10px;
        }
    }
    .copyright{
        padding: 5px 0;
        color: $brand-secondary;
        a{
            color: $brand-secondary;
        }
    }    
}

@media(max-width: $screen-xs-max){
  #header{
    .navbar-header{
      display: inline-block;
    }
    .navbar-toggle{
      margin: 6px 0 0;
      background: transparent;
      .icon-bar{
        background-color: $brand-primary; 
        width: 27px;
        height: 3px;
      }
      &:hover, &:active, &:focus{
        border-color: $brand-primary;
      }
    }
    .navbar-collapse{
      border-top: inherit;
      box-shadow: inherit;
      padding: 0;
      ul{
        display: inherit;
        margin: 10px 0;
      }
      li{
        display: block;
        border: inherit;
        text-align: left;
        padding: 0;
        &:last-child{
          border-right: 0;
          padding-bottom: 0;
        }
      }
      a{
        text-align: left;
        padding: 10px 0 5px;
      }
      .dropdown-menu{
        margin-left: 0;
        li{
          padding-top: 0;
          a{
            padding: 10px 15px;
          }
        }
        li:last-child{
          padding-bottom: 0;
        }
      }
    }    
  }
  
  #home{
    .blog{
      .posts{
        padding: 30px 0 15px;
        .notice{
          margin-bottom: 15px;
          .infos{
            h3{
              min-height: inherit;
            }
          }
        }
      }
    }
    .about{
      p{
        margin-top: 15px;
      }
    }
    .contact{
      .btn-primary{
        margin-bottom: 15px;
      }
    }
  }   
  
  #about{
    .team{
      img{
        margin-top: 15px;
      }
    }
  } 
  
  #footer{
    font-size: 0.8em;
  }
}

@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  #header{
    .navbar-collapse{
      li{
        padding: 0 10px;
      }
    }
  }  
  #home{
    .blog{
      .posts{
        padding: 30px 0 0;
        .notice{
          margin-bottom: 30px;
        }
      }
    }
  } 
  #about{
    .bg{
      height: 560px;
    }
  } 
  #footer{
    .navbar-collapse{
      li{
        padding: 0 10px;
      }
    }
  }  
}

@media(min-width: $screen-md-min) and (max-width: $screen-md-max){
  #header{
    .social{
      a{
        margin-left: 5px;
      }
    }
  }
}